html,
body {

    font-family: tbnpgothic-std, serif;
    font-weight: 500;
    font-style: normal;
    width: 100%;
    background-color: #FBF8EC;

}

.image1 {
    background-image: url("../img/S__3473418.jpg");
    background-size: cover;
    background-position: center center;
    width: 95%;
    height: 650px;
    margin: 0 auto;
}

main {
    width: 100%;
    margin-top: 10px;
}

.serach-area {
    width: 100%;
    height: 100%;
    width: 98%;
    margin: 0 auto;
    padding-bottom: 10px;
    border: solid 0.5px;
    text-align: center;
}


.serach-area-box {
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
}

li {
    display: inline;
    margin-left: 30px;
}

.header-main {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.header-box {
    width: 90%;
    margin: 0 auto;
}

.title {
    font-size: 50px;
    margin: 0px;
    padding: 0px;
    padding-bottom: 20px;
    font-weight: bold;
}

.box {
    display: flex;
    margin: 0 auto;
    width: 95%;
}

/* container */
.wrapper {
    width: 100%;
}

.wrapper .container {
    max-width: 1000px;
    margin: 0px auto;
    padding: 80px 0px;
}

/* content */
.wrapper .content .heading {
    margin: 0px 0px 40px 0px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

@media (min-width: 992px) {
    .wrapper .content .list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.wrapper .content .list-item {
    margin: 50px 0px;
    padding: 0px 50px;
    text-align: center;
}

@media (min-width: 992px) {
    .wrapper .content .list-item {
        margin: 0px;
        width: calc(100% / 3);
    }
}

@media (min-width: 992px) {
    .wrapper .content .list-item .image {
        display: block;
        width: 100%;
        max-width: 300px;
        margin: 0px auto 20px auto;
        border-radius: 50%;

    }
}

.wrapper .content .list-item .image {
    display: block;
    width: 300px;
    height: 300px;
    max-width: 300px;
    margin: 0px auto 20px auto;
    border-radius: 50%;

}

.wrapper .content .list-item .text {
    line-height: 1.8rem;
    font-size: 0.8rem;
    color: #666666;
}

.image {
    object-fit: cover;
}

.gnav_menu:hover {
    opacity: 0.7;
}

.gnav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 99999;
    right: 50px;
    top: 20px;
}

.gnav_menu {
    color: white;
    margin: 10px;
    padding: 10px;
    list-style: none;
    background: linear-gradient(86.13deg, #f7b870 -3.42%, #d9773e 59.59%);
    /* バナーの背景色 */
}

.gnav_menu a {
    color: #FBF8EC;
    text-decoration: none;
}