table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

}

.box {
    padding-top: 100px;
    width: 100%;
}

table tr {
    border-bottom: solid 1px #eee;
    cursor: pointer;
}

table tr:hover {
    background-color: #d4f0fd;
}


table td {
    text-align: center;
    padding: 10px 0;
}

table td.icon {
    background-size: 35px;
    background-position: left 5px center;
    background-repeat: no-repeat;
    padding-left: 30px;
}