body {
    margin: 0;
    padding: 0;
    color: rgb(84, 84, 84);

}

.header-box {
    width: 98%;
    margin: 0 auto;
}

.header-box {
    text-align: center;
    border-bottom: solid 1px;
}

.main {
    width: 90%;
    margin: 0 auto;
    padding-top: 120px;
}

h2 {
    margin: 0;
    color: black
}

.header-box {
    text-align: center;
    border-bottom: solid 1px;
}

.imgbox {


    height: 350px;
    width: 350px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box {
    display: flex;
    justify-content: space-around;

}

.info {
    height: 350px;
    width: 350px;
}

dl {
    display: flex;
}

.btn01 {
    display: inline-block;
    padding: 16px 32px;
    background: #e41313;
    border-bottom: solid 4px #bd1111;
    border-radius: 8px;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    /* line-heigt:1.2em; */
    -webkit-transition: .100s;
    transition: .100s;
}

.btn01:hover {
    border-bottom: none;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}