
.question-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 460px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

body {
  background: #e6e34a; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #e6e34a, #8DC26F);
  background: -moz-linear-gradient(right, #e6e34a, #8DC26F);
  background: -o-linear-gradient(right, #e6e34a, #8DC26F);
  background: linear-gradient(to left, #e6e34a, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
 .progressbar {
		  margin: 0;
		  padding: 0;
		  counter-reset: step;
          z-index: 0;
          position: relative;
		}
		.progressbar li {
		  list-style-type: none;
		  width: 25%;
		  float: left;
		  font-size: 12px;
		  position: relative;
		  text-align: center;
		  text-transform: uppercase;
		  color: #aaa;
		}
		.progressbar li:before {
		  width: 30px;
		  height: 30px;
		  content: counter(step);
		  counter-increment: step;
		  line-height: 30px;
		  display: block;
		  text-align: center;
		  margin: 0 auto 10px auto;
		  border-radius: 50%;
		  background-color: #eee;
		}
		.progressbar li:after {
		  width: 100%;
		  height: 2px;
		  content: '';
		  position: absolute;
		  background-color: #eee;
		  top: 15px;
		  left: -50%;
		  z-index: -1;
		}
		.progressbar li:first-child:after {
		  content: none;
		}
		.progressbar li.active {
		  color: green;
		}
		.progressbar li.active:before {
		  background-color: #55b776;
		  color:#fff;
		}
		.progressbar li.active + li:after {
		  background-color: #55b776;
		}

main{
   margin-top: 100px;
}

/* .positionFit spen{

    color: #ff0000;
}

.positionFit .ques{
    font-weight: bold;
}  */


.yesno {
    height: 400px;
	position:relative;
	background: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
	margin:0 0 40px;
	clear: both;
	overflow: hidden;
}

.yesno ul{
	overflow: hidden;
	padding: 0 0 0 25px;
}
 
.yesno ul li {
	list-style:none;
	float: left;
	text-align: center;
	display: block;
	color: #FFF;
	background-color: #066;
	line-height: 700%;
	font-size: 100%;
	width: 40%;
	margin: 0 20px 0 0;
	border-radius: 30px;
}
.positionFit {
	position:absolute;
	left: 0px;
	top: 70px;
	width: 100%;
}

.positionFit p{
	background: #eee none repeat scroll 0 0;
    padding: 10px 25px;
    margin: 0 25px;
}

.yesno ul li a {
    background-color: #3498db;
    color: #fff;
    display: block;
    height: 100%;
    text-decoration: none;
    width: 100%;
    font-size: 20px;
}

.no-bg{
	background: #48cc83!important;
}

.yesno ul li a:hover {
    background-color: #298dcf;
}

.yesno .material-icons{
	background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    border-radius: 50%;
    font-size: 30px;
    padding: 10px 10px 8px;
    vertical-align: middle;
    margin: 0 10px 0 0;
}


.btn-open {
  display: inline-block;
  width: 180px;
  height:50px;
  text-align: center;
  background-color: #9ec34b;
  font-size: 16px;
  line-height: 52px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #9ec34b;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-open:after{
  width: 100%;
  height: 0;
  content:"";
  position: absolute;
  top: 50%;
  left: 50%;
  background : #FFF;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transition: .2s;
  z-index: -1;
}
.btn-open:hover{
  color: #9ec34b;
}
.btn-open:hover:after{
  height: 240%;
  opacity: 1;
}
.btn-open:active:after{
  height: 340%;
  opacity: 1;
}